
<!-- Sidebar end=============================================== -->
	<div class="span9" ng-repeat="cart in cart2">
    <ul class="breadcrumb">
    <li><a href="index.html">Home|{{cart.pid}}</a> <span class="divider">/</span></li>
    <li><a href="#bags">Products</a> <span class="divider">/</span></li>
    <li class="active">product Details</li>
    </ul>
	
	<style>
.span4:hover {
-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 

}
</style>
	<div class="row">	  
			<div id="gallery" class="span3">
<div class="span4" style="float:left">
            <a href="themes/images/products/large/b1.jpg" title="Fujifilm FinePix S29b10 Digital Camera">
				<img src="themes/images/products/large/b1.jpg" style="width:80%" alt="Fujifilm FinePix S29b10 Digital Camera">
            </a>
</div>
			<div id="differentview" class="moreOptopm carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                  <span> <a href="themes/images/products/large/b1.jpg"> <img style="width:29%" src="themes/images/products/large/b1.jpg" alt=""/></a></span>
                  <span> <a href="themes/images/products/large/b1.jpg"> <img style="width:29%" src="themes/images/products/large/b1.jpg" alt=""/></a></span>
                  <span> <a href="themes/images/products/large/b1.jpg" > <img style="width:29%" src="themes/images/products/large/b1.jpg" alt=""/></a></span>
                  </div>
                 <div class="item">
                   <a href="themes/images/products/large/b1.jpg" > <img style="width:29%" src="themes/images/products/large/b1.jpg" alt=""/></a>
                   <a href="themes/images/products/large/b1.jpg"> <img style="width:29%" src="themes/images/products/large/b1.jpg" alt=""/></a>
                   <a href="themes/images/products/large/b1.jpg"> <img style="width:29%" src="themes/images/products/large/b1.jpg" alt=""/></a>
                  </div>
                </div>
            
			  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a> 
			
              </div>
			  
		
			</div
				<!--gallery end-->
			<div class="span6">
				<h3>JACK WOLFSKIN</h3>
				<small>Ancona Ocean Wave Ocean Wave Code: 90198314</small>
				<hr class="soft"/>
				<form class="form-horizontal qtyFrm">
				  <div class="control-group">
					<label class="control-label"><span>₹2700.00</span></label>
					<div class="controls">
					<input type="number" class="span1" placeholder="Qty."/>
					  <button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button>
					</div>
				  </div>
				</form>
				
				<hr class="soft"/>
				<hb1>60 items in stock</hb1>
				<form class="form-horizontal qtyFrm pull-right">
				  <div class="control-group">
					<label class="control-label"><span>Color</span></label>
					<div class="controls">
					  <select class="span2">
						  <option>Pitch Black</option>
						  <option>Charcoal black</option>
						  <option>Red</option>
						  <option>Blue</option>
						</select>
					</div>
				  </div>
				</form>
				<hr class="soft clr"/>
				<p>
				he Jack Wolfskin Ancona Daysack is a 13 litre slimline daysack for women. The bag features a main compartment with zip opening, a front pocket, two mesh side pockets and an inside pocket.

				</p>
				<!--<a class="btn btn-small pull-right" href="#detail">More Details</a>-->
				<br class="clr"/>
			<a href="#" name="detail"></a>
			<hr class="soft"/>
			</div>
			
			<div class="span9">
            <ul id="productDetail" class="nav nav-tabs">
              <li class="active"><a href="#bag_details" data-toggle="tab">Product Details</a></li>
              <li><a href="#bags" data-toggle="tab">Related Products</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="home">
			  <hb1>Product Information</hb1>
			  
			  
                <table class="table table-striped">
				<tbody>
				<tr class="techSpecRow"><th colspan="2">Product Details</th></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Brand: </td><td class="techSpecTD2">JACK WOLFSKIN</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Model:</td><td class="techSpecTD2">Ancona Ocean Wave 13 Litre Daysack </td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Released on:</td><td class="techSpecTD2"> 2017-11-10</td></tr>
				
				<tr class="techSpecRow"><td class="techSpecTD1">Features:</td><td class="techSpecTD2"> 
				<p>
			<ul>
			<li>13 Litre Ladies Daysack</li>
<li>Comfortable to wear slimline design</li>
<li>Five pockets and compartments</li>
<li>A raincover</li>
<li> Designed especially for women</li>
<li>Internal security pocket</li>
<li>Two mesh side pockets</li>
<li>Supportive back system</li>
			</ul>
				</p>
				</td>
				</tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Editorial Reviews:</td><td class="techSpecTD2"> 
				<p>
				mention some technical specifications
				</p>
				</td></tr>
				
				</tbody>
				</table>
				
				

			
		<!-- add more headers and paragraphs if you eant to add more features-->
              </div>
	
		</div>
          </div>

	</div>
</div>
</div> </div>
</div>
<!-- MainBody End ============================= -->
