<h1>Mountaineering equipments</h1>
<div id="header" ng-controller="category3">
<!-- Sidebar end=============================================== -->
	<div class="span9">
    
	
    <div class="well" style="background-color:rgb(193, 240, 243)">
	<form id="res" class="form-horizontal" name="myForm" enctype="multipart/form-data" method="post" ng-submit="sendData()">

        
	<div class="control-group">
		<label class="control-label"> Product  Image <sup>*</sup></label>
		<div class="controls">
		<input type="text" ng-model="pimage" name="image" placeholder="Enter the umage URL" autofocus required>
			
	</div>
		</div>

	<div class="control-group">
	<label class="control-label"> Product  Name <sup>*</sup></label>
	<div class="controls">
        <input type="text" ng-model="pname" name="name"  autofocus required>
		
</div>
	</div>
        <div class="control-group">
	<label class="control-label"> Product  ID <sup>*</sup></label>
	<div class="controls">
        <input type="text" ng-model="pid" name="name"  autofocus required>
		
</div>
	</div>
        <div class="control-group">
	<label class="control-label"> Product  Category <sup>*</sup></label>
	<div class="controls">
        <input type="text" ng-model="pcategory" name="name"  autofocus required>
		
</div>
	</div>
        <div class="control-group">
	<label class="control-label"> Product  Type <sup>*</sup></label>
	<div class="controls">
        <input type="text" ng-model="ptype"  name="name"  autofocus required>
		</div>
	</div>
        
        <div class="control-group">
	<label class="control-label"> Short Description <sup>*</sup></label>
	<div class="controls">
 <textarea name="product_desc" ng-model="pdesc"   autofocus required></textarea>
 </div>
 </div>
        
        <div class="control-group">
	<label class="control-label"> Product  Price <sup>*</sup></label>
	<div class="controls">
        <input type="text" ng-model="pprice"  name="price"  autofocus required>
		
</div>
	</div>
        
        <div class="control-group">
	<label class="control-label"> Product Brand <sup>*</sup></label>
	<div class="controls">
        <input type="text" ng-model="pbrand"  name="brand" autofocus required>
		
</div>
	</div>
        
        <div class="control-group">
	<label class="control-label"> Product  Colour <sup>*</sup></label>
	<div class="controls">
        <input type="text" ng-model="pcolour" name="colour"  autofocus required>
		
</div>
	</div>

<div class="control-group">
	<label class="control-label"> Product Size <sup>*</sup></label>
	<div class="controls">
        <input type="text" ng-model="psize"  name="size" autofocus required>
		
</div>
	</div>

<div class="control-group">
	<label class="control-label"> Product Dimension <sup>*</sup></label>
	<div class="controls">
        <input type="text" ng-model="pdimen"  name="dimen" autofocus required>
    </div>
	</div>
	
	<div class="control-group">
		<label class="control-label"> Product model <sup>*</sup></label>
		<div class="controls">
		<input type="text" ng-model="pmodel"  name="dimen" autofocus required>
	    </div>
		</div>
		<div class="control-group">
			<label class="control-label"> Product weight <sup>*</sup></label>
			<div class="controls">
			<input type="text" ng-model="pweight"  name="dimen" autofocus required>
		    </div>
			</div>

			<div class="control-group">
				<label class="control-label"> Product Zoom <sup>*</sup></label>
				<div class="controls">
				<input type="text" ng-model="pzoom"  name="dimen" autofocus required>
			    </div>
				</div>
        
				<div class="control-group">
					<label class="control-label"> User Guidelines <sup>*</sup></label>
					<div class="controls">
				 <textarea name="product_desc" ng-model="pguide"   autofocus required></textarea>
				 
				</br>
				</br>
				<button class="btn btn-large btn-success" type="submit" ng-disabled="myForm.$invalid">Submit</button>
				</div>
					</div>
				
				</div>
					</div>
				</form>


</div>
</div>
</div>
